block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content=(meta && meta.viewport ? meta.viewport : 'width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no'))
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='format-detection' content='telephone=no')
    meta(http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://krungthaihny2021.com/")

    title=(meta && meta.title ? meta.title : '')
    link(rel='shortcut icon' type='image/x-icon' href='/assets/image/favicon.ico')
    meta(name='keyword', content=(meta && meta.keyword ? meta.keyword : ''))
    meta(name='description', content=(meta && meta.description ? meta.description : ''))

    meta(property="og:title", content=(meta && meta.ogTitle ? meta.ogTitle : ''))
    meta(property="og:description", content=(meta && meta.ogDescription ? meta.ogDescription : ''))
    meta(property="og:type", content=(meta && meta.ogType ? meta.ogType : ''))
    meta(property="og:site_name", content=(meta && meta.ogSiteName ? meta.ogSiteName : ''))
    meta(property="og:url", content=(meta && meta.ogUrl ? meta.ogUrl : ''))
    meta(property="og:image", content=(meta && meta.ogImage ? meta.ogImage : ''))

    meta(name="twitter:card", content=(meta && meta.twitterCard ? meta.twitterCard : 'summary_large_image'))
    meta(name='twitter:site', content=(meta && meta.twitterSite ? meta.twitterSite : '@Krungthai Bank - Merry Christmas &amp; Happy New Year 2021'))
    meta(name="twitter:title", content=(meta && meta.twitterTitle ? meta.twitterTitle : 'Krungthai Bank - Merry Christmas &amp; Happy New Year 2021'))
    meta(name="twitter:description", content=(meta && meta.twitterDescription ? meta.twitterDescription : 'Krungthai Bank - Merry Christmas &amp; Happy New Year 2021'))
    meta(name="twitter:image", content=(meta && meta.twitterImage ? meta.twitterImage : 'https://krungthaihny2021.com/assets/image/share/Share_image.jpg'))

     //- CSS
    block css
      link(rel="stylesheet", href='/assets/css/style.css')

    <!-- Google Tag Manager -->
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;var n=d.querySelector('[nonce]');
      n&&j.setAttribute('nonce',n.nonce||n.getAttribute('nonce'));f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-52FX7N2');
    <!-- End Google Tag Manager -->


  body
    block content

    //- JS
    block scripts

      script(type='text/javascript' src='/assets/js/clipboard.js')

      script(type='text/javascript' src='/assets/js/main.bundle.js')

      <!-- Google Tag Manager (noscript) -->
      noscript
        iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-52FX7N2" height="0" width="0" style="display:none;visibility:hidden")
      <!-- End Google Tag Manager (noscript) -->

